body{
	font-family: "Microsoft YaHei", "Helvetica Neue",Helvetica,"Hiragino Sans GB", Arial, sans-serif,Helvetica,Arial,sans-serif;
}

h1{
	text-align: center;
	font-size: 1.6em;
	margin: 0px;
	padding: 30px 20px 10px 20px;
	color: #004B67;
}

h3{
	font-size: 1.2em;
	max-width: 600px;
	width: 80%;
    margin-right:auto;
    margin-left:auto;
}
p{
	font-size: 0.9em;
	max-width: 600px;
	width: 80%;
    margin-right:auto;
    margin-left:auto;
    color: #0274B8;

}
.question{
	font-size: 1.2em;
	margin-top: 30px;
	margin-bottom: 10px;
	color: #006F99;
	position: relative;
	left: 0;
}

.option{
	padding: 10px;
	background-color: rgba(113, 206, 241,0.2);
	border-radius: 6px;
	width: 100%;
	position: relative;
	margin-left:-15px;
}

.tt{
	width: 100%;
}

#questions{
	max-width: 600px;
	width: 80%;
    margin-right:auto;
    margin-left:auto;
   	position:relative;
}

ol {
	margin-left: -30px;
}

.checkResult{
	padding-top: 30px;
	padding-bottom: 50px;
}


.stretch { min-width:100%; min-height:100%; width:auto; height:auto; }


#download{
    margin-right:auto;
    margin-left:auto;
}
a, a:hover {
  text-decoration: none;
  color: white;
}

#again a{
	color:black;
	font-size: 0.8em;
}

#again{
	text-align: center;
	border: 1px dotted #55BDFA;
	border-radius: 5px;
	width: 80px;
	padding: 2px;
}



input[type=submit] , #download{
	padding:5px 15px; 
	background:#55BDFA; 
	color:white;
	font-size: 1.1em;
	border:0 none;
	cursor:pointer;
	border-radius: 5px; 
}


img{
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

#housepoint{
	display: none;
	width:100%;
}

#downloadIcon{
	max-width: 300px;
	position:relative;
	width: 80%;
    margin-right:auto;
    margin-left:auto;
}
#downloadIcon img{
	position:absolute; 
	bottom:0;
	left: 5px;
	display: inline;
	padding-bottom: 0px;
	width: 35px;
	height: 35px;
}

/*background img*/
#questions img{
	max-width: 90%;
}

